/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-image: url('wallpaper.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el cuerpo */
  background-position: top; /* Centra la imagen */
  color: white; /* Texto blanco */
  text-shadow: -1px -1px 0 black,  
  
  1px -1px 0 black,
 -1px  1px 0 black,
  1px  1px 0 black; /* Borde negro */
  margin: 0;
  padding: 0;
  background-attachment: fixed; /* Fondo de pantalla fijo */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}
/* Estilos para los iconos */
.corner-icon {
  width: 30px;
  height: 30px;
  position: fixed;
}
.left {
  top: 0;
  left: 0;
}

.right {
  top: 0;
  right: 0;
}

.image-container {
  display: flex;
}

.image-container img {
  margin-right: 5px; /* Espacio entre imágenes */
}
.title-with-image {
  text-align: center; /* Centra los elementos horizontalmente */
}
.title-button-container {
  display: inline-block; /* Para que ocupe solo el ancho necesario */
  vertical-align: middle; /* Para alinear verticalmente con el texto */
  margin: 0 auto;
}
.tool-description {
  position: relative; /* Hacer que el contenedor sea posicionado */
}

.tool-description .option-button {
  position: absolute;
  right: 650px; /* Ajusta el margen derecho */
  top: -8px;
}

.title {
  color: rgb(235, 87, 2); /* Texto blanco */
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom: 100px; /* Agrega margen inferior */
  text-shadow: -1px -1px 0 black,  
  
  1px -1px 0 black,
 -1px  1px 0 black,
  1px  1px 0 black; /* Borde negro */
}
.title-with-image img {
  display: block; /* Hace que la imagen sea un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.options {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.column {
  flex: 1;
  text-align: center; /* Centra horizontalmente el texto dentro de las columnas */
}

.option-button {
  display: block;
  margin: 0 auto; /* Centra horizontalmente el botón */
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #000000; /* Gris oscuro */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option-button:hover {
  background-color: #c7430f; /* Gris medio */
}

/* Estilos de las funciones */

.function {
  margin-top: 20px;
  background-color: #fff; /* Blanco */
  padding: 20px;
  border-radius: 5px;
}

.subtitle {
  color: white; /* Texto blanco */
}

.function-button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #000000; /* Gris medio */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.function-button:hover {
  background-color: #000000; /* Gris claro */
}
