/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-image: url('wallpaper.jpg');
  background-size: cover;
  background-position: top;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Borde negro */
  margin: 0;
  padding: 0;
  background-attachment: fixed; /* Fondo de pantalla fijo */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para los iconos */
.corner-icon {
  width: 30px;
  height: 30px;
  position: fixed;
}

.left {
  top: 0;
  left: 0;
}


.right {
  top: 0;
  right: 0;
}
/* Estilos para las imágenes de las estatuas */

.statue-image {
  width: 100px; /* Ajusta el ancho según sea necesario */
  height: 100px; /* Ajusta la altura según sea necesario */
  margin-bottom: 10px; /* Espacio entre las imágenes */
  cursor: pointer; /* Cambia el cursor al pasar sobre las imágenes */
  border: 2px solid transparent; /* Borde inicial transparente */
  transition: border-color 0.3s ease; /* Transición suave para el cambio de color del borde */
  display: block; /* Asegura que las imágenes sean bloques para centrarlas */
  margin: 0 auto; /* Centra las imágenes horizontalmente */
}

/* Estilos para las imágenes de las estatuas cuando se interactúa */
.statue-image:hover {
  border-color: #c7430f; /* Cambia el color del borde a naranja cuando se pasa el mouse */
}

/* Estilos para la columna de imágenes seleccionadas */
.selected-images-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente las imágenes */
  max-height: 330px; /* Altura máxima para la columna de imágenes seleccionadas */
  overflow-y: auto; /* Agrega desplazamiento vertical si hay más de 3 imágenes */
  margin-left: 20px; /* Espacio entre las dos columnas de imágenes */
}
.image-container {
  display: flex;
}

.image-container img {
  margin-right: 5px; /* Espacio entre imágenes */
}

.title-with-image {
  text-align: center; /* Centra los elementos horizontalmente */
}

.title-button-container {
  display: inline-block; /* Para que ocupe solo el ancho necesario */
  vertical-align: middle; /* Para alinear verticalmente con el texto */
  margin: 0 auto;
}

.tool-description {
  position: relative; /* Hacer que el contenedor sea posicionado */
}

.tool-description .option-button {
  position: absolute;
  right: 0; /* Ajusta el margen derecho */
  top: -8px;
}

.title {
  color: rgb(235, 87, 2); /* Texto blanco */
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom: 100px; /* Agrega margen inferior */
}

.title-with-image img {
  display: block; /* Hace que la imagen sea un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.options {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.column {
  flex: 1;
  text-align: center; /* Centra horizontalmente el texto dentro de las columnas */
}

.option-button-container {
  text-align: center; /* Centra el botón horizontalmente */
}

.option-button {
  display: inline-block; /* Asegura que el botón se muestre en línea */
  padding: 10px 20px;
  background-color: #000000; /* Gris oscuro */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.option-button:hover {
  background-color: #c7430f; /* Gris medio */
}

/* Estilos de las imágenes */
.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Estilos de las funciones */
.function {
  margin-top: 20px;
  background-color: #fff; /* Blanco */
  padding: 20px;
  border-radius: 5px;
}

.subtitle {
  color: white; /* Texto blanco */
}

.function-button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #000000; /* Gris medio */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.function-button:hover {
  background-color: #000000; /* Gris claro */
}
